h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
div.body{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 200px;
}
div.body#diagnose,div.body#recommendation{
    font-size: 25px;
}
button{
      margin: 10px;
      position: fixed;
}
div.page{
    text-align: center;
    background-color: rgb(252, 247, 237);
    height: 1000px;
}
div.question{
    margin: 60px;
    
}
div#student-id{
    margin-bottom: 30px;
    font-size: 25px;
}
button{
    font-weight: bolder;
    border-radius: 15%;
    font-size: 20px;
    width: 200px;
    height: 50px;
}
label.question{
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
}
label#student-id{
    padding: 10px;
}
input{
    width: 1px;
}
input[type=radio] {
    width: 5%;
    height: 20px;
    border: 0px;
}
input.student-id{
    width: 200px;
    font-size: 25px;
}
select{
    width: 100px;
    height: 30px;
    font-size: 20px;
}